# IDE related
/.settings
/.buildpath
/.project

# .env
/.env

# Temporary files
/storage/cache/templates/**/*.php
/storage/cache/routes.php
/schema

# Managed by Composer
/vendor/

# Assets and user uploads
/public/assets/
/public/uploads/

# PHPUnit
/phpunit.xml

# Composer PHAR
/composer.phar
