# IDE related
/.settings
/.buildpath
/.project

# .env
/.env

# Managed by Composer
/vendor/

# Assets and user uploads
/public/assets/
/public/uploads/

# PHPUnit
/phpunit.xml

# Composer PHAR
/composer.phar
