{% extends 'layout.twig' %}

{% block content %}

    <h1>Welcome to the blog!</h1>

    <p>Have a look at our articles:</p>
    <form id="loginForm" action="/" method="post">
        <div class="form-group">
            <label for="email">Email address</label>
            <input class="form-control" name="email" id="email" type="email" value="" placeholder="Your Email" autocomplete="off" length="255" minlength="7" maxlength="255" size="80" required="required" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" name="password" id="password" type="password" value=""  placeholder="Your Password" autocomplete="off" length="255" minlength="10" maxlength="255" size="80" required="required" />
        </div>
        <input name="security" id="security" type="hidden" value="" />
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    
    <ul class="collection">

        {% for article in articles %}
            <li class="collection-item avatar">

                <i class="mdi-editor-insert-comment circle"></i>

                <span class="title">{{ article.title }}</span>

                <p>{{ article.content }}</p>

                <p><a href="/article/{{ article.id }}">Read more</a></p>

            </li>
        {% endfor %}

    </ul>

    <hr/>

    <p>
        To view the articles list in the CLI, run the following command:
    </p>

    <div class="card-panel grey darken-3" style="color: white">
        <pre><code>php console.php articles</code></pre>
    </div>

{% endblock %}
